<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shize.fragment">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base">
        <activity
            android:name="com.example.shize.activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--采取栈内复用模式，防止多次启动activity-->
        <activity android:name="com.example.shize.activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppNoActionBar">

        </activity>
        <activity android:name="com.example.shize.activity.PlayActivity"
            android:theme="@style/AppNoActionBar">

        </activity>
        <activity android:name="com.example.shize.activity.AboutActivity"
            android:theme="@style/AppNoActionBar">

        </activity>
        <activity android:name="com.example.shize.activity.ClockActivity"
            android:theme="@style/AppNoActionBar">

        </activity>
        <activity android:name="com.example.shize.activity.ListenerActivity"
            android:theme="@style/AppNoActionBar">

        </activity>
        <activity android:name="com.example.shize.activity.OptionActivity"
            android:theme="@style/AppNoActionBar">

        </activity>
        <activity android:name="com.example.shize.activity.SearchMusicActivity"
            android:theme="@style/AppNoActionBar">

        </activity>
        <activity android:name="com.example.shize.activity.SearchResultActivity"
            android:theme="@style/AppNoActionBar">

        </activity>
        <activity android:name="com.example.shize.activity.ThemeActivity"
            android:theme="@style/AppNoActionBar">

        </activity>
        <activity android:name="com.example.shize.activity.IndexLocalMusicActivity"
            android:theme="@style/AppNoActionBar">

        </activity>
        <activity android:name="com.example.shize.activity.IndexLikeMusicActivity"
            android:theme="@style/AppNoActionBar">

        </activity>
        <activity android:name="com.example.shize.activity.IndexLatelyMusicActivity"
            android:theme="@style/AppNoActionBar">

        </activity>
        <activity android:name="com.example.shize.activity.PlayListActivity"
            android:theme="@style/ThemeFloatActivity">

        </activity>
        <service
            android:name="com.example.shize.service.MusicPlayerService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.shize.action.ACTION_PLAY" />
                <action android:name="com.example.shize.action.ACTION_PAUSE" />
                <action android:name="com.example.shize.action.ACTION_STOP" />
                <action android:name="com.example.shize.action.ACTION_NEXT" />
                <action android:name="com.example.shize.action.ACTION_FRONT" />
                <action android:name="com.example.shize.action.ACTION_MODE" />
                <action android:name="com.example.shize.action.ACTION_EXIT" />
            </intent-filter>
        </service>
    </application>

</manifest>